n8n_workflows/email_notifications/02_course_enrolled.json
{
  "name": "Course Enrolled Email",
  "nodes": [
    {
      "parameters": {
        "channel": "automation",
        "jsonParse": true
      },
      "id": "4d6aee6a-c214-4874-b4d0-4f63caa872da",
      "name": "Redis Trigger",
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['event'] }}",
              "value2": "course_enrolled"
            }
          ]
        }
      },
      "id": "34fb8bc3-9a45-49cd-988d-1b24e9ec03f9",
      "name": "IF Event Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://web:5000/api/internal/render-email",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "course_enrolled"
            },
            {
              "name": "payload",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "6769a98e-7cec-4013-8284-3bc55ef8d85a",
      "name": "Render HTML (Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        200
      ],
      "notesInFlow": true,
      "notes": "Ask Flask to render Jinja template to HTML"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $json['payload']['email'] }}",
        "subject": "={{ $json['subject'] || 'Tarunsfxo LMS Notification' }}",
        "html": "={{ $json['html'] }}",
        "options": {}
      },
      "id": "4a67e252-d013-42e7-b4e1-3083f5b3a23b",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_credentials",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.ADMIN_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error",
              "value": "Email failed to send after 3 retries"
            },
            {
              "name": "event",
              "value": "course_enrolled"
            }
          ]
        }
      },
      "id": "877c2f64-ad4d-4869-8249-1c84698d4396",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "notesInFlow": true,
      "notes": "Failsafe notification"
    }
  ],
  "connections": {
    "Redis Trigger": {
      "main": [
        [
          {
            "node": "IF Event Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Event Match": {
      "main": [
        [
          {
            "node": "Render HTML (Flask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML (Flask)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [],
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Error Handler"
  }
}