n8n_workflows/email_notifications/04_certificate_generated.json
{
  "name": "Certificate Email",
  "nodes": [
    {
      "parameters": {
        "channel": "automation",
        "jsonParse": true
      },
      "id": "335281b5-0764-4144-a7da-b4255266bdbb",
      "name": "Redis Trigger",
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['event'] }}",
              "value2": "certificate_generated"
            }
          ]
        }
      },
      "id": "a161c35a-ce1e-4cdc-bf31-50398edcdae0",
      "name": "IF Event Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://web:5000/api/internal/render-email",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "certificate_generated"
            },
            {
              "name": "payload",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "6e56f262-e893-4f95-946d-0c0e739b3889",
      "name": "Render HTML (Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        200
      ],
      "notesInFlow": true,
      "notes": "Ask Flask to render Jinja template to HTML"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $json['payload']['email'] }}",
        "subject": "={{ $json['subject'] || 'Tarunsfxo LMS Notification' }}",
        "html": "={{ $json['html'] }}",
        "options": {}
      },
      "id": "4e77634b-bf44-45fb-a1cd-e8b168dfcd1e",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_credentials",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.ADMIN_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error",
              "value": "Email failed to send after 3 retries"
            },
            {
              "name": "event",
              "value": "certificate_generated"
            }
          ]
        }
      },
      "id": "186b4692-96c0-42df-9e0f-fcfd2a3e88d9",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "notesInFlow": true,
      "notes": "Failsafe notification"
    }
  ],
  "connections": {
    "Redis Trigger": {
      "main": [
        [
          {
            "node": "IF Event Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Event Match": {
      "main": [
        [
          {
            "node": "Render HTML (Flask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML (Flask)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [],
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Error Handler"
  }
}