n8n_workflows/email_notifications/08_password_changed.json
{
  "name": "Password Changed Email",
  "nodes": [
    {
      "parameters": {
        "channel": "automation",
        "jsonParse": true
      },
      "id": "c566e54a-9f78-4e1e-991a-ce1599ede7f6",
      "name": "Redis Trigger",
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['event'] }}",
              "value2": "password_changed"
            }
          ]
        }
      },
      "id": "e699f93c-50df-4b36-9c02-fc21bbe17276",
      "name": "IF Event Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://web:5000/api/internal/render-email",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "password_changed"
            },
            {
              "name": "payload",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "cc124667-0c1d-4f33-a504-01bebf8fdcf6",
      "name": "Render HTML (Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        200
      ],
      "notesInFlow": true,
      "notes": "Ask Flask to render Jinja template to HTML"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM }}",
        "toEmail": "={{ $json['payload']['email'] }}",
        "subject": "={{ $json['subject'] || 'Tarunsfxo LMS Notification' }}",
        "html": "={{ $json['html'] }}",
        "options": {}
      },
      "id": "3756582b-cb21-43ae-bdd6-77efd730ec2a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "smtp_credentials",
          "name": "SMTP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.ADMIN_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error",
              "value": "Email failed to send after 3 retries"
            },
            {
              "name": "event",
              "value": "password_changed"
            }
          ]
        }
      },
      "id": "d91e7035-962a-4d04-995a-38beb234cd96",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "notesInFlow": true,
      "notes": "Failsafe notification"
    }
  ],
  "connections": {
    "Redis Trigger": {
      "main": [
        [
          {
            "node": "IF Event Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Event Match": {
      "main": [
        [
          {
            "node": "Render HTML (Flask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML (Flask)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [],
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Error Handler"
  }
}